.location {
    .success {
        margin-bottom: 25px;
    }

    .order__breadCrumbs {
        padding-bottom: 30px;
    }

    &__content {
        height: 56px;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;

        > input {
            margin-right: 15px;
            width: 30px;
            height: 30px;
        }

        @media (max-width: 1050px) {
            height: auto;
        }

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        @media (max-width: 1050px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__contentLeft {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 30px;
        width: calc(100% - 147px);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: #f5fafc;

        @media (max-width: 1050px) {
            border-radius: 25px;
            min-height: 50px;
            padding: 15px;
        }

        @media (max-width: 575px) {
            width: 100%;

            img {
                display: none;
            }
        }

        p {
            margin-bottom: 0;
            color: #08a6d6;
            font-weight: bold;

            @media (max-width: 575px) {
                font-size: 16px;
            }
        }

        span {
            display: inline-block;
            color: #3d3d3d;
            margin-left: 10px;

            @media (max-width: 1105px) {
                padding-right: 100px;
            }

            @media (max-width: 950px) {
                margin-left: 0;
            }

            @media (max-width: 575px) {
                padding-right: 0;
            }
        }
    }

    &__contentRight {
        width: 147px !important;
        height: 56px;
        background-color: #8cbd29;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media (max-width: 1050px) {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            min-height: auto;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        @media (max-width: 575px) {
            width: 94px;
        }

        a {
            @media (max-width: 575px) {
                font-size: 16px;
            }
        }

        i {
            position: absolute;
            transition: all 0.2s;

            svg {
                color: #fff;
                font-size: 30px;
            }
        }

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            font-size: 18px;
            color: #fff;
            width: 100%;
            // height: 100%;
            transition: all 0.2s;
            z-index: 5;
            padding-left: 14px;

            input {
                opacity: 0;
            }

            @media (max-width: 1050px) {
                margin-right: 0;
            }
        }
    }
}

.modal-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #8cbd29;
    font-weight: bold !important;
}

.flexModal {
    display: flex;
    margin-bottom: 15px;

    .flexModalIn {
        width: 50%;

        h4 {
            color: #08a6d6 !important;
            font-size: 15px;
        }

        input {
            background-color: #f5fafc !important;
            border-radius: 25px;
            text-align: left;
            font-weight: bold;
            border: none !important;
            box-shadow: none !important;
            color: #3d3d3d;
        }

        select {
            background-color: #f5fafc !important;
            border-radius: 25px;
            text-align: left;
            font-weight: bold;
            border: none !important;
            box-shadow: none !important;
            color: #3d3d3d;
            width: 100%;
            height: 38px;
            padding: 0 15px;
            appearance: none;
            -webkit-appearance: none;
            background-image: url("../../../images/down-arrow.png");
            background-repeat: no-repeat;
            background-position: center right 15px;
            background-size: 10px 10px;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.modalTextArea {
    h4 {
        color: #08a6d6 !important;
        font-size: 15px;
    }

    textarea {
        background-color: #f5fafc !important;
        border-radius: 5px;
        text-align: left;
        font-weight: bold;
        border: none !important;
        box-shadow: none !important;
        color: #3d3d3d;
        width: 100%;
        height: 100px;
        resize: none;
        padding: 15px;
    }
}

.modal-footer {
    button {
        color: #fff;
        background-color: #8cbd29;
        outline: none;
        border: none;
    }
}

.infoFlexFull {
    width: 100%;
}

.locationCon {
    .location__contentRight {
        width: 147px !important;
    }
}

.editIcon {
    width: 30px;
    height: 30px;
    background-image: url("../../../images/edit.png");
    background-position: center;
    background-repeat: no-repeat;
}
